body {
    background: orange;
    text-align: center;
}

#first {
    width: 300px;
    height: 590px;
    background: red;
    display: inline-block;
}

#second {
    width: 300px;
    height: 590px;
    background: green;
    display: inline-block;
}

#third {
    width: 300px;
    height: 590px;
    background: blue;
    display: inline-block;
}

#fourth {
    width: 300px;
    height: 590px;
    background: purple;
    display: inline-block;
}

#logo {
    width: 50px;
    margin-top: 10px;
}

h1 {
    font-size: 5rem;
    margin: 10px;
}

#group-photo {
    margin-top: 20px;
}

.subtitle {
    font-size: 3em; 
}

.animals {
    width: 30%;
}

.main-photo {
    width: 95vw;
    height: 100vh;
}

.text {
    font-size: 10pt;
}
